@import "resets.css";
@import url('http://fonts.cdnfonts.com/css/aux-dotbitc');

body {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    background: rgb(138, 138, 138);
}

* {
    font-family: 'AuX DotBitC', sans-serif;
    font-size: min(20px, 1vw);
}



.container {
    border: 30px solid rgb(90, 90, 90);
    width: 60%;
    max-width: 600px;
    border-radius: 20px 20px 0 0;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 0.3fr;
    border-bottom: none;
    position: relative;
    overflow: hidden;
}

/* add pseudo element for gradient */ 
.open-animation {
    background: black;
    opacity: 1;
    width: 200%; 
    left:0;
    height: 100%;
    position: absolute;
    z-index: 2;
    animation-name: open-animation; 
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

@keyframes open-animation {
    100% {
       transform: translateX(100%);
    }
}

.scene {
    display: block ;
    width: 100%;
}

.images {
    position: relative;
    overflow: hidden;
}

.player-tag {
    position: absolute; 
    right: 5%; 
    bottom: 5%;
    width: 30%;
}

.computer-tag {
    position: absolute;    
    left: 15%; 
    top: 15%;
    width: 32%;
}
.player {
    position: absolute; 
    bottom: -40%;
    left: -3%;
    width: 54%;
}

.computer {
    position: absolute; 
    top:15%;
    right: 7%;
    width: 33%;
}


.controller {
    background: rgb(61, 61, 61);
    width: 60%;
    max-width: 600px;
    border-radius: 0 0 20px 20px;
    position: relative;
    overflow: hidden;
}

.text {
    display: grid; 
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr; 
}   
.textbox {
    padding: 1% 4%;
    background: rgb(230, 230, 230);
    border: 7px solid rgb(182, 113, 10);
}

.textbox p {
    line-height: min(20px, 1.5vw);
}

.choices {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    align-content: center;
    justify-content: center;;
}
.choices button {
    border-radius: 20px;
}
.control-btns {
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.control-btn {
    padding: 20px;
    border-radius: 50%; 
    background:rgb(138, 138, 138);
    border: none;
}

.control-btn:hover {
    transition: 0.2s; 
    background-color: rgb(199, 199, 199);
}


@media (max-width: 900px) {
    .container, .controller {
        width: 80%;
    }

    .container {
        border: 20px solid rgb(90, 90, 90);
        border-bottom: none;
    }

}