@import "resets.css";
@import url('https://fonts.cdnfonts.com/css/aux-dotbitc');

body {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    background: #cacaca;
}

* {
    font-family: 'AuX DotBitC', sans-serif;
    font-size: min(1.5vw, 15px);
}

#title {
    text-align: center;
    font-size: min(3vw, 30px);
    margin-bottom: 2em;
    padding: 0;
}

/* || CONTAINER */ 
#container {
    position: relative;
    width: 60%;
    max-width: 600px;
    border-radius: 2em;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 0.3fr;
    grid-template-areas: "view"
            "controller"; 
    box-shadow: 12px 14px 15px 5px rgba(49, 49, 49, 0.64);    
}

/* || VIEW */ 
#view.no-screen::before {
    display: none;
}
#view::before {
    content: "Press the POWER button to play";
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgb(155, 155, 155);
}

#view.init::before {
    content: ""; 
    animation-name: open-animation;
    animation-iteration-count: 2;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

@keyframes open-animation {
    50% {
        background: black; 
        opacity: 0.8; 
    }
    75% {
        opacity: 0.9;
    }
    100% {
       opacity: 0;
    }
}

#view {
    border: 1.5em solid #3b3d47;
    border-bottom: 0;
    border-radius: 2em 2em 0 0;
    position: relative; 
    overflow: hidden;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 0.3fr;

}





.scene {
    display: block ;
    width: 100%;
}

#images {
    position: relative;
    overflow: hidden;
}

.player-tag-group {
    position: absolute; 
    right: 5%;
    bottom: 3%;
    width: 30%;
}
.player-tag-level {
    position: absolute; 
    top: 1.4em;
    right: 1.3em;
}

.player-tag-exp {
    width: 45%; 
    height: 0.6em; 
    border: 1px solid #1e1e22;
    background: gray;
    position: absolute; 
    top: 2.3em; 
    right: 1.2em;
    border-radius: 1em;
}

.player-tag-score {
    width: 100%; 
    height: 100%;
    border-radius: 1em;
    background: rgb(133, 218, 175);
    position: relative; 
    transition: 0.2s; 
}
.player-tag-name {
    position: absolute; 
    top: 1.4em;
    left: 2em;
}
.player-tag {
    width: 100%;
}
.computer-tag-group {
    position: absolute; 
    width: 32%;
    top: 5%; 
    left: 10%;
}

.computer-tag-level {
    position: absolute; 
    top: 1em; 
    right: 2.3em;
}

.computer-tag-name {
    position: absolute; 
    top: 1em; 
    left: 1em;
}

.computer-tag-exp {
    width: 45%; 
    height: 0.6em; 
    border: 1px solid #1e1e22;
    position: absolute; 
    top: 2em; 
    background: gray;
    right: 2.2em;
    border-radius: 1em;
}

.computer-tag-score {
    width: 100%; 
    height: 100%;
    transition: 0.2s; 
    border-radius: 1em;
    background: rgb(133, 218, 175);
    position: relative; 
}
.computer-tag {
    width: 100%;
}
.player {
    position: absolute; 
    bottom: -40%;
    left: -35%;
    width: 54%;
}

.player.hurt {
    animation-name: hurt; 
    animation-duration: 1s; 
}
#view.init .player {
    animation-name: player-move-in;
    animation-duration: 1s;
    animation-delay: 0.5s; 
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
}
.computer {
    position: absolute; 
    top:15%;
    right: -35%;
    width: 33%;
}
.computer.hurt {
    animation-name: hurt; 
    animation-duration: 1s; 
}
#view.init .computer {
    animation-name: computer-move-in;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
}

@keyframes hurt {
    50% {
        transform: translateY(1em);
    }
    70% {
        transform: rotate(20deg);
    }
    80% {
        transform: scale(1.2);
        filter: sepia(100%);
    }
}
@keyframes player-move-in {
    100% {
        left: -3%;
    }
}
@keyframes computer-move-in {
    100% {
        right: 7%;
    }
}



#action {
    padding-top: 3px;
    background: rgb(48, 48, 48);
    display: grid; 
    grid-template-columns: 1fr 0.7fr;
    grid-column-gap: 4px;
    grid-template-rows: 1fr; 
}   
.textbox {
    padding: 4%;
    background: rgb(64, 81, 100);
    border: 7px solid rgb(175, 154, 96);
    color:rgb(230, 230, 230);
    border-radius: 10px 0 0 10px;
    border-right: none;    
    line-height: 1em;

}


.choices {
    border: 5px solid rgb(123, 123, 206);
    border-radius: 10px;
    display: grid; 
    background: rgb(230, 230, 230);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    align-content: center;
    justify-content: center;;
}
.choices button {
    transition: 0.2s;
    border: none;
    background: rgb(230, 230, 230);
}

.choices button:hover {
    background: rgb(196, 196, 196);
}

.controller {
    grid-area: controller;
    background: #1e1e22;
    width: 100%;
    border-radius: 0 0 2em 2em;
    position: relative;
    overflow: hidden;
}

.control-btns {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.control-btn {
    padding: 3%;
    border-radius: 50%; 
    background:rgb(138, 138, 138);
    border: none;
}

.control-btn:hover {
    transition: 0.2s; 
    background-color: rgb(199, 199, 199);
}

footer {
    margin-top: 2em;
}